{% extends "app/base.html" %}
{% load static%}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/log.css'%}">
    <div class="w3-container " style="padding:128px 16px" align="center">
        <div class="wrapper fadeInDown" >
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active" >Edit Your Profile</h2>
                <!-- Login Form -->
                <form method="post">
                    {% csrf_token %}
                    {% for field in user_form%}
                    <p>
                        {{field.label_tag}}
                        <br>
                        {{field}}
                        {% for error in field.errors%}
                    <p style="color : red">{{error}}</p>
                    {%endfor%}
                    </p>
                    {%endfor%}
                    <a class="btn btn-outline-secondary" href="{%url 'accounts:profile' user.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </a>
                    <input type="submit" value="Change Profile">
                </form>
            </div>
        </div>
    </div>
{% endblock %}